{% extends "base.html" %} {% block content %}
<h3 class="fs-3 fw-bold mt-4">Descrição</h3>
<p class="mt-3">
  Consulte CEP e IP é uma plataforma online que oferece a possibilidade de
  realizar consultas rápidas e precisas de CEPs e números de IP. Com apenas
  alguns cliques, você pode obter informações detalhadas sobre endereços através
  do CEP e descobrir informações relevantes sobre localização utilizando números
  de IP. Nossa ferramenta é fácil de usar, fornecendo resultados instantâneos e
  confiáveis. Simplifique suas pesquisas de CEP e IP com Consulte CEP e IP!
</p>
<a
  href="/busca"
  class="link-success link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover"
>
  ➜ Vá para consulta
</a>
{% endblock %}
